// colors
$primary-color: #000000;

$secondary-color: #892cdc;
$secondary-color-hover: #52057b;

$accent-color: #bc6ff1;
$secondary-accent-color: #a567cf;

$text-color: #ffffff;

$button-font-size: 25px;

$font: 'Abel', sans-serif;

// mixins for flexbox
@mixin flex-box($dir: row, $just: space-evenly, $align: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
}
