// colors
$background-color: #000000;
// $background: url('../assets/coding.jpg');

$primary-color: #892cdc;
$primary-color-hover: #52057b;

$secondary-color: #7fdc2c;
$secondary-color-hover: #2e7b05;

$accent-color: #bc6ff1;

$text-color: #ffffff;

$button-font-size: 25px;

$font: 'Abel', sans-serif;

// mixins for flexbox
@mixin flex-box($dir: row, $just: space-evenly, $align: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
}
