@import '../../sass/index.scss';

.header {
  width: 100%;
  height: 4vh;
  background: linear-gradient(
    75deg,
    $secondary-color 10%,
    $secondary-color-hover 50%
  );
  margin-top: 10px;
  border-radius: 5px;

  @include flex-box(row, space-evenly, center);
  text-align: center;

  & span {
    flex: 3;
  }
}
