@import '../../sass/index.scss';

.githubLogo {
  width: 8vw;
  vertical-align: middle;
  fill: $secondary-color;
  transition: all 0.3s ease;
}

.githubLink:hover {
  fill: $secondary-color-hover;
}

@media only screen and (min-width: 768px) {
  .githubLogo {
    width: 5vw;
  }
}

@media only screen and (min-width: 1025px) {
  .githubLogo {
    width: 2.5vw;
  }
}
