@import '../../sass/index.scss';

.repoItem {
  width: 100%;
  height: 8vh;
  background: linear-gradient(
    75deg,
    $primary-color 10%,
    $primary-color-hover 50%
  );

  margin-top: 10px;
  border-radius: 5px;

  @include flex-box(row, space-evenly, center);
  transition: all 0.3s ease;

  text-align: center;

  &:hover {
    cursor: pointer;
  }

  & span {
    flex: 3;
  }
}

.selected {
  background: $accent-color;
}
