@import '../../sass/index.scss';

$nukeRoate: -25deg;

.logoContainer {
  position: relative;
  width: 85vw;
  padding-left: 10px;
  padding-right: 10px;
}

.nuke {
  width: 100%;
  transform: rotate($nukeRoate);
}

.textHeader {
  transform: rotate(0deg);
  z-index: 1;
  font-family: 'Sonsie One', cursive;
  font-size: 3.5rem;
  -webkit-text-stroke: 1px $text-color;
  -webkit-text-fill-color: $secondary-color;
  font-style: italic;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .logoContainer {
    width: 55vw;
  }
  .textHeader {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1025px) {
  .logoContainer {
    width: 40vw;
  }

  .nuke {
    width: 100%;
    transform: rotate($nukeRoate);
    &:hover {
      animation: shake 0.5s infinite;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .logoContainer {
    width: 25vw;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate($nukeRoate);
  }
  10% {
    transform: translate(-1px, -2px) rotate($nukeRoate - 1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate($nukeRoate + 1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate($nukeRoate);
  }
  40% {
    transform: translate(1px, -1px) rotate($nukeRoate - 1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate($nukeRoate + 1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate($nukeRoate);
  }
  70% {
    transform: translate(3px, 1px) rotate($nukeRoate - 1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate($nukeRoate + 1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate($nukeRoate);
  }
  100% {
    transform: translate(1px, -2px) rotate($nukeRoate - 1deg);
  }
}

.buttonContainer {
  width: 100%;
  margin-top: 25px;
  @include flex-box();
}
