@import '../../sass/index.scss';

.repoList {
  width: 100vw;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  color: $text-color;
}

@media only screen and (min-width: 768px) {
  .repoList {
    width: 90vw;
  }
}

@media only screen and (min-width: 1025px) {
  .repoList {
    width: 80vw;
  }
}

.buttonContainer {
  margin-top: 10px;
  @include flex-box();
}
