@import '../../sass/index.scss';

.authContainer {
  width: 100vw;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (min-width: 768px) {
  .authContainer {
    width: 85vw;
  }
}

@media only screen and (min-width: 1025px) {
  .authContainer {
    width: 40vw;
  }
}

.header {
  text-align: center;
  color: $text-color;
}

.optionsContainer {
  width: 100%;
  @include flex-box(row, space-between, center);
}

.linkContainer {
  color: $text-color;
}

.link {
  color: $text-color;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease;
  &:hover {
    color: $secondary-color;
    cursor: pointer;
  }
}

.buttonContainer {
  width: 100%;
  padding-top: 25px;
  @include flex-box();
}
