@import '../../sass/index.scss';

.authContainer {
  width: 100vw;
  padding-left: 10px;
  padding-right: 10px;
}

.modalContent {
  width: 80vw;
  padding-left: 10px;
  padding-right: 10px;
  color: $text-color;

  & div {
    @include flex-box(row, space-between);
  }

  & h2 {
    margin-top: 10px;
    margin-bottom: 2px;
  }

  & p {
    margin-bottom: 10px;
  }

  & a {
    color: $secondary-color;
    text-decoration: none;
    transition: all 0.3s ease;
    @media screen and (min-width: 1025px) {
      &:hover {
        color: $secondary-color-hover;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .authContainer {
    width: 50vw;
  }

  .modalContent {
    width: 60vw;
  }
}

@media only screen and (min-width: 1025px) {
  .authContainer {
    width: 45vw;
  }
  .modalContent {
    width: 50vw;
  }
}

.header {
  text-align: center;
  color: $text-color;
}

.optionsContainer {
  width: 100%;
  @include flex-box(row, space-between, center);
}

.linkContainer {
  color: $text-color;
}

.link {
  color: $text-color;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease;
  &:hover {
    color: $secondary-color;
    cursor: pointer;
  }
}

.buttonContainer {
  width: 100%;
  padding-top: 25px;
  @include flex-box();
}
